body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #333333;
    overflow: hidden;
}

#main_content{
    width: 100%;
    height: 100%;    
}


#btn_container{
    width: 100%;
    background-color: whitesmoke;
    margin-bottom: .5%;
}

#output_container {
    background-color: #141414;
    float: right;
    min-width: 49%;
    min-height: 50%;
    width: 49%;
    height: 76%;
}

#editor_container {
    background-color: #141414;
    float: left;
    min-width: 49%;
    min-height: 50%;
    width: 49%;
    height: 76%;
    padding-right: 1%;
}

#tab_container{
    width: 100%;
    min-width: 100%;
    padding-bottom: .25%;
}

#editor{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

#code_input{ 
    display: none;
}

#code_output{
    background-color: #141414;
    color: ghostwhite;
    resize: none;
    min-width: 95%;
    min-height: 95%;
    max-width: 100%;
    max-height: 100%;
    width: 95%;
    height: 95%;
    border: none;
}


#filenameTxt{
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: 2%;
    border: none;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
}

img{
    cursor: pointer;
}

.invisibleBtn{
    display: none;
}

.imageBtn{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: .25%;
    margin-top: .25%;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

.tablink {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}


.tabcontent {
    display: none;
    width: 100%;
    height: 100%;
}

object{
    min-width: 100%;
    min-height: 85%;
}

h1{
    color: ghostwhite;
    margin: 0;
    height: 15%;
    letter-spacing: 1.2px;
    font-family: LogoFont;
    text-align: center;
    font-size: 60px;
    width: 100%;
    padding: 0;
    display: inline;

}

nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
}

nav ul {
  text-align: center;
  list-style: outside none none;
  padding: 0px;
  margin-top: 0px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Open Sans";
  color: ghostwhite;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: ghostwhite;
}

table {
    background-color: white;
    border-collapse: collapse;
    table-layout:fixed;
    overflow-y: scroll;
    width: 100%;
}
td {
    white-space: normal;
    word-wrap: break-word;
    border-bottom: 1px solid #ddd;
}

@font-face{
    font-family: LogoFont;
       src: url(../Fonts/Exo.otf);
}