body, html {
    height: 100%;
    margin: 0;
    background: url("../Images/Road_Background.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    overflow: hidden;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

button {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font-family: "Helvetica";
     float: right;
     font-size: 18px;
     font-weight: bold;
}

h1{
    color: ghostwhite;
    margin: 0;
    margin-bottom: 8%;
    height: 15%;
    letter-spacing: 1.2px;
    font-family: LogoFont;
    text-align: center;
    font-size: 60px;
    width: 100%;
    border: 0;
    padding: 0;
    display: inline;

}

table{
    padding: 5%;
    font-family: monospace;
}

td{
    padding-top: 5%;
}

h2{
    font-family: monospace;
    margin: 0 auto;
    color: ghostwhite;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 5px;
}

/* Style the submit button */
.colorBtn{
    background-color: #4CAF50;
    color: white;
    width: 100%;
}

/* Style the container for inputs */
.container {
    background-color: #f1f1f1;
    padding: 10px;
    width: 50%;

}

#forgotPass{
    padding: 8%;
}

#loginDiv{
    background-color: ghostwhite;
    width: 20%;
    flex: 1;
    margin-right: 3%;
    border-radius: 6px;
}

#otherDiv{
    background-color: ghostwhite;
    width: 20%;
    float: right;
    flex: 1;
    border-radius: 6px;
}

#otherDiv input{
    margin-left: 50%;
}

#mainContent{
    display: flex;
    width: 50%;
    margin: 0 auto;
    margin-top: 100;
}

@font-face{
    font-family: LogoFont;
    src: url(../Fonts/Exo.otf);
}

nav {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    margin-bottom: 7.5%;
}

nav ul {
    text-align: center;
    list-style: outside none none;
    padding: 0px;
    margin-top: 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Open Sans";
    color: ghostwhite;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: ghostwhite;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 5%;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

