body, html {
    height: 100%;
    margin: 0;
    background: url("../Images/Road_Background.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    overflow: hidden;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;

}

#top {
    background-color: white;
}

#buttons {
    width: 340px;
}

h1 {
    color: ghostwhite;
    margin: 0;
    height: 15%;
    letter-spacing: 1.2px;
    font-family: LogoFont;
    text-align: center;
    font-size: 60px;
    width: 100%;
    padding: 0;
}

h2{
    height: 8%;
    margin-top: 2%;
    font-family: monospace;
    margin: 0 auto;
    margin-bottom: 2%;
    color: ghostwhite;
    text-align: center;
    background-color: black;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

nav {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
}

nav ul {
    text-align: center;
    list-style: outside none none;
    padding: 0px;
    margin-top: 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Open Sans";
    color: ghostwhite;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: ghostwhite;
}

div {
    margin: auto;
    overflow:hidden;
    height: 500px; 
    border-color: white;
}

#right{
    overflow-y: scroll;
}

table {
    table-layout:fixed;
    overflow-y: scroll;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

#profile1{
    background-color: #f1f1f1;
    font-size: 20px;
}
#profile1>td{
    padding-top: 25px;

}

#profHead{
    background-color: #f1f1f1;
    font-size: 26px;
    text-align: center;

}
/* Style the container for inputs */
.container {
    width: 80%;
    height: 630px;
    background-color: black;
    margin: auto;
    padding: 10px;
    border-radius: 6px;
}

.left {
    background-color: #f1f1f1;
    padding: 10px;
    width: 30%;
    height: 600px;
    float: left;
    border: 5px solid black;
    border-radius: 20px;
}

.right {
    margin-left: 15%;
    background-color: #f1f1f1;
    padding: 10px;
    height: 600px;
    border: 5px solid black;
    border-radius: 20px;
}

@font-face{
    font-family: LogoFont;
    src: url(../Fonts/Exo.otf);
}